.cart-container {
    padding: 30px;
}

.cart-title {
    margin-bottom: 20px;
}

.place-order-button {
    padding: 12px 20px;

    border: none;

    background-color: green;

    color: white;

    cursor: pointer;

    border-radius: 5px;

    margin-bottom: 30px;
}

.place-order-button:hover {
    background-color: darkgreen;
}

.cart-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
}

.cart-card {
    background-color: white;

    padding: 20px;

    border-radius: 10px;

    box-shadow:
        0 0 10px rgba(0,0,0,0.1);
}

.cart-product-name {
    margin-bottom: 10px;
}

.cart-product-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.remove-button {
    width: 100%;

    padding: 10px;

    border: none;

    background-color: crimson;

    color: white;

    cursor: pointer;

    border-radius: 5px;
}

.remove-button:hover {
    background-color: darkred;
}